*{
  font-family: Arial, Helvetica, sans-serif;
}
$gradient-colors: (
  color1: rgba(42, 126, 126, 0.74),
  color1-transparent: rgba(142, 236, 236, 0.199),
  color2: rgba(136, 61, 12, 0.89),
  color2-transparent: rgba(250, 184, 140, 0.733)
);

.gradient-card{
  width: 70%;
  height: 310px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgb(172, 172, 172);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: relative;
  .post-category{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  .post-title{
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 10px 0;
  }
  .readnow{
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 0.8em;
    
  }

}
.card-1{
 background: linear-gradient(map-get($gradient-colors, color1),map-get($gradient-colors, color1-transparent)), url(https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 .readnow{
    color: map-get($gradient-colors, color1);
    box-shadow: 0 2px 10px map-get($gradient-colors, color1);
 }
}
.card-2{
  background: linear-gradient(map-get($gradient-colors, color2), map-get($gradient-colors, color2-transparent)), url(https://images.unsplash.com/photo-1506773090264-ac0b07293a64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
  background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  .readnow{
    color: map-get($gradient-colors, color2);
    box-shadow: 0 2px 10px map-get($gradient-colors, color2);
 }
}

@media (min-width: 576px){
  .gradient-card{
    max-width: 210px;
    max-height: 310px;
  }
  .horizontal{
     max-width: 450px;
    max-height: 200px;
    .post-title{
      max-width: 60%;
    }
  }
  .card-1{
    background: linear-gradient(to right,map-get($gradient-colors, color1),map-get($gradient-colors, color1-transparent)), url(https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
}

